html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  margin: 1rem;
}

p{
  line-height: 1.2;
  min-width: 300px;
  max-width: 600px; 
  width: 50%;
  text-align: justify;
}